.wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.charactor-sunny__wrap {
  position: absolute;
  right:50px;
  bottom: 0;
  width:529px;
  height:700px;
  background: url(https://raw.githubusercontent.com/honghao30/jnh/master/media/sunny/full_body.png);
  background-position: right top;
  .charactor-sunny__wrap--inbody {
    position: relative;
    width: 100%;
    height: 100%;
    .eya-wrap {
      width:100%;
      height:100%;
      position: absolute;
      left:0;
      top:0;
      opacity: 0;
      background: url(https://raw.githubusercontent.com/honghao30/jnh/master/media/sunny/eye.png);
      background-position: right top;
      animation: eyas 0.4s ease infinite;
      animation-direction:alternate;
      animation-delay:10s;
      z-index: 2;
    }
    .lib-wrap {
      width:100%;
      height:100%;
      position: absolute;
      left:0;
      top:0;
      opacity: 0;
      background: url(https://raw.githubusercontent.com/honghao30/jnh/master/media/sunny/lip.png);
      background-position: right top;
      animation: libs 0.4s ease infinite;
      animation-direction:alternate;
      animation-delay:5s;
      z-index: 3;
    }
  }
}

@keyframes eyas {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes libs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}